body {
    background-color: #5372ef;
}

.container {
    width: 90%;
    max-width: 37.5em;
    background-color: #ffffff;
    padding: 3em 0.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.8em;
}

h3 {
    text-align: center;
    width: 60%;
    margin: 0 auto 2em auto;
    font-size: 1.2em;
    font-weight: 600;
    color: #010c39;
}

.draggable-objects, .drop-points {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.draggable-text {
    width: 10em;
    cursor: move;
    background-color: #f0f0f0;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

.articles {
    width: 10em;
    height: 8em;
    display: grid;
    place-items: center;
    border: 0.25em dashed #010c39;
    border-radius: 0.8em;
    padding: 1em;
    text-align: center;
}

.dropped {
    background-color: #e5ffc8;
}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #5372ef;
    flex-direction: column;
    top: 0;
}

.controls-container button {
    font-size: 1.12em;
    padding: 0.8em 1em;
    border-radius: 0.2em;
    border: none;
    color: #010c39;
    letter-spacing: 0.06em;
}

.controls-container p {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 1em;
}
